<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

  <contextName>${spring.application.name}-logback</contextName>

  <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>

  <springProperty scope="context" name="logging.file.path" source="logging.file.path"/>
  <springProperty scope="context" name="logging.file.max-size" source="logging.file.max-size"/>

  <property name="logging.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{64} - %msg%n" />
  <property name="logging.charset" value="utf-8" />

  <property name="logging.name.default" value="default" />
  <property name="logging.name.error" value="error" />

  <if condition='property("os.name").startsWith("Windows")'>
    <then>
      <include resource="logback-console.xml" />
    </then>
  </if>

  <include resource="logback-file.xml" />
  <include resource="logback-file-error.xml" />

  <!-- additivity 不能在这用 -->
  <!--<root level="${logging.level.root}">-->
  <!--  <appender-ref ref="DEFAULT_FILE_ASYNC"/>-->
  <!--  <appender-ref ref="ERROR_FILE_ASYNC"/>-->
  <!--</root>-->

</configuration>
